.collapse.in {
    display: block;
}
.collapse {
    display: none;
}
.results-container {
    width: 550px;
    height: 230px;
    margin: 0px 25px 25px;
    background-color: #F93;
    padding: 25px;
}

.checkbox label, .radio label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0px;
    font-weight: 400;
    cursor: pointer;
}
.checkbox-inline, .radio-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0px;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    margin: 0px;
    font: inherit;
    color: inherit;
}

col-sm-3 {
    width: 25%;
}
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, /*.col-sm-8,*/ .col-sm-9 {
    float: left;
}
.col-xs-6 {
    width: 50%;
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, /*.col-xs-4,*/ .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: left;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, /*.col-sm-8,*/ .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, /*.col-xs-4,*/ .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xs-6, .col-sm-3 {
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
}
.col-sm-3 {
    width: 25%;
    float: left;
}
* {
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}
.calculator-container {
    text-align: center;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333;
}

.btn-primary:hover {
    color: #FFF;
    background-color: #FFCC66;
    border-color: #FFCC66;
}
.btn.focus, .btn:focus, .btn:hover {
    color: #333;
    text-decoration: none;
}
.btn-primary {
    color: #FFF;
    background-color: #FF5050;
    border-color: #2E6DA4;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-primary {
    position: relative;
    top: 25px;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0px;
    font: inherit;
    color: inherit;
}

.col-sm-3 {
    width: 25%;
	  float: left;
}

*{
	box-sizing: border-box;
}

/*top-calc section*/
.calculator-container {
	width: 650px;
	height: 370px;
	margin: 0 auto;
	background-color: #7CD3E3;
	padding: 5px;
	/*text-align: center;*/
}

/*results section*/
.results-container {
	width: 650px;
	height: 250px;
	margin: 0 auto;
	background-color: #CCF779;
	padding: 25px;
}

/*top-calc heading*/
#heading{
    width: 300px;
	padding: 0;
	font-family: Helvetica;
	line-height: 1.1;
	color: inherit;
	font-size: 30px;
	margin: 20px 0px 10px 390px;
}

.results-head {
	padding: 0px 0px 0px 0px;
    font-family: Helvetica;
    line-height: 1.1;
    color: inherit;
    font-size: 18px;
    margin-right: 20px;
}
}
/*form position - do not alter*/
.col-xs-6, .col-sm-3 {
	position: relative;
	margin-left: 0px;
	margin-right: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
/*button position*/
.btn-primary {
	position: relative;
	top: 25px;
}
/*results text*/
.calResult {
	font-size: 40pt;
	font-style: bold;
	text-align: center;
	position: relative;
	bottom: 147px;
	left: 15px;
	font-color: white;
}
/*results circle*/
.calNumResult {
	height: 125px;
    width: 125px;
    margin-left: 0px;
    margin-top: 20px;
}

.calComment {
    position: relative;
    height: 150px;
    width: 150px;
}

.calCommentContainer {
    position: absolute;
    height: 130px;
    width: 430px;
    top: 690px;
    left: 730px;
}

.actLevelRadio {
    position: absolute;
    margin-top: 50px;
    height: 20px;
    width: 650px;
}

.actLevelHeader {
    font-size: 15px;
    text-align: center;
}

.calorieButtons {
    position: absolute;
    left: 725px;
    margin-top: 170px;
}